@{
    ViewData["Title"] = "AgregarEquipo";
}



<h1 class="mt-5">Crear Equipo</h1>

    <form class="mt-4" method="post" action='@Url.Action("GuardarEquipo", "Home")' enctype="multipart/form-data">

        <input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">
      
        <div class="form-group mb-4">
            <label class="h5">Nombre del equipo:</label>
            <input type="text" class="form-control opacity-75 forms" name="Nombre" placeholder="Nombre del equipo..." autocomplete="off" required>
            
        </div>

        <div class="form-group mb-4">
            <label class="h5">Escudo:</label>
            <input type="file" class="form-control-file d-flex justify-content-end opacity-75" name="Escudo" autocomplete="off" required>
            
        </div>        

        <div class="form-group mb-4">
            <label class="h5">Camiseta:</label>
            <input type="file" class="form-control-file d-flex justify-content-end opacity-75" name="Camiseta" autocomplete="off" required>
            
        </div>      

        <div class="form-group mb-4">
            <label class="h5">Continente:</label>
            <select class="form-select opacity-75 shadow forms" name="Continente" placeholder="Continente..." autocomplete="off" required>
                <option value="" disabled selected hidden>Continente...</option>
                <option value="Africa" class="bg-secondary">Africa</option>
                <option value="America" class="bg-secondary">America</option>
                <option value="Europa" class="bg-secondary">Europa</option>
                <option value="Asia" class="bg-secondary">Asia</option>
                <option value="Oceania" class="bg-secondary">Oceania</option>
            </select>
        </div>

        <div class="form-group mb-4">
            <label class="h5">Copas ganadas:</label>
            <input type="number" class="form-control shadow forms" name="CopasGanadas" placeholder="Copas ganadas..." autocomplete="off" required>
        </div>

        <div class="form-group mb-4">
            <label class="h5">Video presentación (link youtube):</label>
            <input type="text" class="form-control shadow forms" name="Video" placeholder="Video..." autocomplete="off">
        </div>
        
        <button type="submit" class="btn btn-dark mt-4 mb-5">Crear equipo</button>
    </form>
