@{
    ViewData["Title"] = "AgregarEquipo";
}



<h1 class="mt-5">Crear Equipo</h1>

    <form class="mt-4" method="post" action='@Url.Action("GuardarEquipo", "Home")' enctype="multipart/form-data">

        <input class="form-control" type="hidden" name="IdEquipo" value="@ViewBag.IdEquipo">
      
        <div class="form-group">
            <label>Nombre del equipo:</label>
            <input type="text" class="form-control" name="Nombre" placeholder="Nombre del equipo...">
            
        </div>

        <div class="form-group">
            <label>Escudo:</label>
            <input type="file" class="form-control-file" name="Escudo">
            
        </div>        

        <div class="form-group">
            <label>Camiseta:</label>
            <input type="file" class="form-control-file" name="Camiseta">
            
        </div>      

        <div class="form-group">
            <label>Continente:</label>
            <select class="form-select" name="Continente">
                <option value="Africa">Africa</option>
                <option value="America">America</option>
                <option value="Europa">Europa</option>
                <option value="Asia">Asia</option>
            </select>
            
        </div>

        <div class="form-group">
            <label>Copas ganadas:</label>
            <input type="number" class="form-control" name="CopasGanadas" placeholder="Copas ganadas...">
        </div>
        
        <button type="submit" class="btn btn-primary mt-4">Crear equipo</button>
    </form>

    <br><br><br><br>