@{
    ViewData["Title"] = "DetalleJugador";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">

    <h1 class="mt-5">@ViewBag.DetalleJugador.Nombre</h1>
    <img src="/jugadores/@ViewBag.DetalleJugador.Foto" alt="" class="mt-4 w-25">
    <h5 class="mt-4">Fecha de nacimiento: @ViewBag.DetalleJugador.FechaNacimiento.ToShortDateString().</h5>
    <h5 class="mt-4">Equipo: @ViewBag.DetalleJugador.EquipoActual. </h5>       

    <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=@ViewBag.DetalleJugador.IdEquipo})' class="btn btn-primary mt-4 mb-5">Volver Atrás</a>
    <br><br><br><br>
</body>
</html>