@{
    ViewData["Title"] = "Home Page";
}   

    
    <button id="boton" class="btn btn-outline-secondary mt-1 mt-5 w-25" style="color:white; display: block;">Filtrar por...</button>
          
    <div id="modal" class="modal">
        <div class="modal-contento sombra text-center">
            <span class="cruz">&times;</span>                    
            
            <label class="h1 text-dark">Continentes</label>
            <div class="form-group continentes d-flex flex-column">
                <div class="continentes "> Africa<input type="checkbox" value="Africa" class="m-2 listCont" name="Africa" checked="true"> </div>
                <hr>
                <div class="continentes "> America<input type="checkbox" value="America" class="m-2 listCont" name="America" checked="true"> </div>
                <hr>                
                <div class="continentes "> Europa<input type="checkbox" value="Europa" class="m-2 listCont" name="Europa" checked="true"> </div>
                <hr>
                <div class="continentes "> Asia<input type="checkbox" value="Asia" class="m-2 listCont" name="Asia" checked="true"> </div>
                <hr>
                <div class="continentes "> Oceania<input type="checkbox" value="Oceania" class="m-2 listCont" data-key="Oceania" checked="true"> </div>
            </div>
        </div>
    </div>

<div class="container mt-5"> 
    <div class="row mb-4">
        <div class="col-sm d-flex mb-3 justify-content-center contenedorCards"></div>
    </div>
</div>
    
    <script type ="text/javascript">
            var modal = document.getElementById("modal");
                
            var boton = document.getElementById("boton");

            var cerrar = document.getElementsByClassName("cruz")[0];
                
            boton.onclick = function abrirModal() {
                modal.style.display = "block";
            }
                
            cerrar.onclick = function() {
                modal.style.display = "none";
                checkear();
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    checkear();
                }
            }

            checkear();

            function checkear(){
                const contenedor = document.querySelector(".contenedorCards");
                contenedor.innerHTML = '';
                var array = @Html.Raw(Json.Serialize(@ViewBag.Lista));
                var jScriptArray = [];
                for(var i = 0; i < array.length; i++) {
                    jScriptArray.push(array[i]);
                    console.log(array[i]);
                }

                var listInput = document.querySelectorAll(".listCont");
                listInput.forEach(input => mostrarContinentes(input));

                function mostrarContinentes(continente){

                    for(var i = 0; i < jScriptArray.length; i++){

                        if(continente.checked && continente.value === jScriptArray[i].continente){


                            const linkDetalle = document.createElement('div');
                            linkDetalle.innerHTML = `
                                
                                    <div class="contenedor card text-center sombra mb-4 m-3" style="width: 330px; height:450px; background:rgba(255,255,255, 0.05); border-radius:5%">
                                        <a href=https://localhost:7252/Home/VerDetalleEquipo?IdEquipo=${jScriptArray[i].idEquipo}&IdJugador=0' class="flex-item"><img src="/equipos/${jScriptArray[i].escudo}" class="card-img-top p-4 imagen" width="100%" height="330px" alt="..." style="object-fit: cover;"></a>                            
                                        <div class="card-body">
                                            <h5 class="card-title mb-3 text-light">${jScriptArray[i].nombre}</h5>                                     
                                            <a href=https://localhost:7252/Home/VerDetalleEquipo?IdEquipo=${jScriptArray[i].idEquipo}&IdJugador=0' class="btn btn-outline-light">Ver equipo</a>
                                        </div>
                                    </div>    

                            `;
                            contenedor.appendChild(linkDetalle);

                        }

                    }   
                }
            }

        </script>

        <a href='@Url.Action("AgregarEquipo","Home")' class="btn btn-light m-auto mt-1 mb-5 w-25" style="color: #70102C; display: block;" target="_blank">Agregar equipo +</a>       

    
