@{
    ViewData["Title"] = "Privacy Policy";
}


<h1 class="mt-5">@ViewData["Title"]</h1>

<p class="h5 mt-4">All the rights reserved to <a href="https://campus.ort.edu.ar/secundaria/almagro/">Ort Argentina</a></p>
