html {
  font-size: 14px;  
  
}

body{
  background-color: #820000;
}

footer{
  background-color: rgba(0, 0, 0, 0.651) ;
}

h1{
  color: white;
}

h4{
  color: white;
}

p{
  color: white;
}

.blanco{
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flex-container{
  display: flex;
}

.flex-item{
  flex: 1;
}

<<<<<<< HEAD
header{
  background-color: #820000;
}
=======
.marron{
  background-color: #820000;
}

>>>>>>> 121cc9d7c79d300194571661cd124460c15c6085
