html {
  font-size: 14px;  
  
}

body{
  background-color: #70102C;
  color: white;
}

footer{
  background-color: #6d102a;
}

h1{
  color: white;
}

h4{
  color: white;
}

p{
  color: white;
}

.blanco{
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flex-container{
  display: flex;
}

.flex-item{
  flex: 1;
}

header{
  background-color: #70102C;
}

.boton{
  background-color: white;  
  color: #70102C;
}
